html {
  background-color: white;
}

body {
  height: 70vh;
  background-color: white;
  border: none;
  margin: 0px;
  background-image: url('../../public/bg-pattern.png');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/public/static/Inter-Regular.ttf') format('woff2'); /* Sesuaikan path dengan lokasi font Anda */
}

@font-face {
  font-family: 'Inter-subtitle';
  font-style: normal;
  font-weight: 100;
  src: url('/public/static/Inter-Regular.ttf') format('woff2'); /* Sesuaikan path dengan lokasi font Anda */
}

.product-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px; /* Sesuaikan lebar kartu dengan kebutuhan */
  height: 400px; /* Sesuaikan tinggi kartu dengan kebutuhan */
  background-color: white;
  border-radius: 10px;
  border: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card-content {
  display: flex;
  align-items: top;
  padding: 20px;
  height: 380px;
}

.product-card-content-items {
  flex: 300px 400px;
}
.product-card img {
  margin-top: 30px;
  width: 200px; /* Set the width of the image */
  height: 300px; /* Maintain the aspect ratio of the image */
  margin-right: 10px; /* Adjust spacing between image and text */
}

.text-content {
  flex-grow: 1; /* Allow text content to grow and take remaining space */
}

.product-title {
  margin: 10px;
  top: 0;
  right: 0;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  height: 30px;
  color: #002772;
}

.product-details .category-rating {
  height: 40px;
  justify-content: space-between;
  margin-inline: 10px;
  display: flex;
  align-items: center;
}

.product-details .category {
  top: 0;
  right: 0;
  font-family: 'Inter';
}

.product-details .rating-circles {
  margin: 0px;
}

.product-details hr {
  height: 2px;
  margin-inline: 10px;
  margin-top: 0;
  border-width: 0;
  background-color: #dcdcdc;
}

.product-details p {
  margin: 10px;
  top: 0;
  right: 0;
  font-family: 'Inter';
  overflow: hidden;
}

.product-description {
  font-family: 'Inter';
  font-size: 15px;
  margin: 10px;
  overflow: hidden;
  height: 150px; /* Set the maximum height for the container */
  text-overflow: ellipsis; /* Display an ellipsis (...) for the overflowed content */
}

.product-category {
  font-family: 'Inter';
  font-size: 15px;
  margin: 10px;
}

.product-price {
  font-family: 'Inter';
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
  text-align: left;
}

.buy-now {
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  color: white;
  border: none;
}

.next-product {
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  border: 2px solid;
}

@media screen and (max-width: 650px) {
  .product-card {
    width: 100%;
    font-size: 0.9em;
    height: auto;
  }
  .product-card-content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    font-size: 0.9em;
  }

  .product-card-content-item {
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .product-card-content-item img {
    width: auto;
    height: 300px;
    display: flex;
  }
  .product-title {
    font-size: 0.9em;
  }
  .category {
    font-size: 0.8em;
  }
  .product-description {
    font-size: 0.9em;
  }
  .circle {
    display: none;
  }
  .rating-circles p {
    width: 20%;
    font-size: 0.9em;
  }
  .buy-now {
    width: 30%;
  }
  .next-product {
    width: 40%;
    font-size: 0.9em;
  }
}
